* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}


/* utility classes */

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

/* end utility classes */


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: aliceblue;
    background-image: url('img/logo.png'),
                      linear-gradient(to left, steelblue, #fff);
    background-repeat: repeat-y, no-repeat;
    background-position: right center;
}

.hero {
    border-bottom: 2px solid #333;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;

    background-color: rgb(251, 210, 156);
    background-image: url('img/logo.png');
    background-repeat: repeat;
    background-size: cover;
}

.h1 {
    font-size: 500%;
}

.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100%;
    border: 5px double gray;
    border-radius: 50%;
}

.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 2px solid #f00;
}

.example img {
    width: 25%;
    height: auto;
}

.clip {
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url('img/logo.png');
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    color: hsla(0, 0%, 0%, 0.227);
}